@media screen and (max-width:980px)
{
	#block-system-main-menu .content>ul>li>a,
	#block-system-main-menu .content>ul>li>span
	{
		padding:0 12px;
	}

	#logo
	{
		width:278px;
		height:150px;
		padding-top:60px;

		img 
		{
			height:150px;
			width:auto;
		}
	}

	#partners
	{
		text-align:center;

		h2 
		{
			padding-right:0;
			border-right:0;
			margin-right:0;
			display:block;
			line-height:normal;
			margin-bottom:20px;
		}
	}

	.view-race-listings
	{
		.views-field-field-local-sponsors 
		{
			padding-top:0;

			.views-label 
			{
				padding-right:0;
				margin-right:0;
				border-right:0;
				float:none;
				text-align:center;
				display:block;
			}
			.field-content
			{
				padding-left:0;
				text-align:center;
			}
		}

		.views-field-path 
		{
			clear:left;
		}
	}
}



@media screen and (max-width:868px)
{
	.view-large-highlight
	{
		padding-bottom:30px;

		.views-field-field-image a 
		{
			display:block;
			text-align:center;

			img 
			{
				float:none;
				height:auto;
				max-width:100%;
				width:auto;
				margin-bottom:5px;
			}
		}

		.views-field-path 
		{
			text-align:center;
		}
	}

	.view-small-highlight 
	{
		.views-row
		{
			width:auto;
			float:none;
		}

		.views-row-first
		{
			margin-right:0;
			margin-bottom:30px;
		}

		.views-field-path 
		{
			clear:none;
			text-align:left;
		}
	}

	#footer .logo 
	{
		display:none;
	}

	#footer2 #block-menu-block-1 ul li
	{
		margin-right:7px;

		&.last 
		{
			margin-right:0;
		}
	}

	#footer #block-block-3 
	{
		padding-left:0;
	}
}



@media screen and (max-width:768px), screen and (device-width:1024px) and (device-height:768px)
{
	#block-system-main-menu
	{
		display:none;
		position:absolute;
		top:100%;
		left:0;
		z-index:99999;

		&.open 
		{
			display:block;
		}

		& > div 
		{
			box-shadow:5px 5px 2px rgba(0,0,0,0.4);
			border-radius:4px;
		}

		&:before
		{
			content:" ";
			display:block;
			position:absolute;
			left:50%;
			top:-7px;
			margin-left:-13px;
			border-bottom:7px solid $lime;
			border-left:14px solid transparent;
			border-right:14px solid transparent;
		}

		.content > ul > li 
		{
			display:block;
			text-align:left;
			background:$lime;
			text-shadow:1px 1px 1px rgba(0,0,0,0.5);

			&.first 
			{
				border-top-left-radius:4px;
				border-top-right-radius:4px;

				a 
				{
					border-top:0;
				}
			}
			&.last
			{
				border-bottom-left-radius:4px;
				border-bottom-right-radius:4px;
			}

			&:hover.expanded:after 
			{
				display:none;
			}

			a,
			span 
			{
				color:white;
				padding:0 20px;
				border-top:1px solid rgba(208,242,161,0.3);
				border-bottom:1px solid rgba(0,0,0,0.25);
				line-height:42px;

				&:hover
				{
					color:white;
				}
			}

			& > ul 
			{
				display:block;
				width:auto;
				position:static;
				margin-top:0;

				& > li 
				{
					display:block;

					a, span 
					{
						padding-left:55px;

						&:hover
						{
							background:none;
						}
					}

					&.last
					{
						a, span 
						{
							border-bottom:1px solid rgba(0,0,0,0.25);
						}
					}
				}
			}
		}
	}
	#mobile-menu-btn 
	{
		display:block;
	}

	#block-block-1,
	#block-menu-menu-social-menu 
	{
		top:5px;

		h2 
		{
			font-size:16px;
		}
	}
	#block-block-1 .content a
	{
		width:142px;
		line-height:38px;
		border-radius:4px;
		font-size:14px;
		margin-top:10px;
	}
	#block-menu-menu-social-menu .content ul 
	{
		margin-top:10px;

		li 
		{
			margin-right:0;
			margin-left:0px;

			a 
			{
				width:38px;
				height:38px;
			}
		}
	}

	#widgets
	{
		.block 
		{
			float:none;
			width:auto;
			margin-bottom:30px;
		}

		#block-block-5
		{
			.content 
			{
				text-align:center;
				overflow:hidden;
			}

			img 
			{
				max-width:400px;
				border-radius:0;
				margin:0 auto;
			}
		}
	}

	#home-header-image
	{
		font-size:0.7em;
		height:201px;
		background-image:url(../images/home-header-bg-small.jpg);
	}

	#footer2 #block-menu-block-1
	{
		display:none;
	}
	#footer2 #block-menu-block-2 
	{
		float:none;
		margin-bottom:1.5em;

		ul 
		{
			text-align:center;

			li.first
			{
				margin-left:0;
			}
		}
	}
	#copyright
	{
		text-align:center;
	}

	.view-race-details
	{
		.views-field
		{
			width:auto;
			display:block;
			margin-right:0;
			min-height:120px;
			background-size:90px auto;
			background-position-y:5px;
			clear:left;

			h3,
			.field-content 
			{
				padding-left:100px;
				padding-right:0;
			}
		}

		.views-field-title,
		.views-field-field-image
		{
			min-height:0;
			clear:none;

			.field-content 
			{
				padding-left:0;
			}
		}
	}

	#page-title
	{
		font-size:32px;
	}

	.view-race-listings
	{
		.views-field-field-local-sponsors img
		{
			height:40px;
			width:auto;
			margin-right:5px;
			margin-left:5px;
		}
	}

	.view-footage
	{
		.views-row 
		{
			width:auto;
			display:block;
			margin-right:0;

			& > div 
			{
				padding-right:0;
			}
		}

		.views-field-field-youtube-id
		{
			img
			{
				max-width:460px;
				display:block;
				margin:0 auto;
			}
		}

		.views-field-field-subtitle,
		.views-field-body
		{
			text-align:center;
		}
	}

	.view-volunteer
	{
		.views-field-field-link-to-volunteer 
		{
			float:left;
			clear:left;
			text-align:left;

			.button 
			{
				margin-left:0;
				margin-top:10px;
			}
		}
	}
}


@media screen and (max-width:540px)
{
	#home-header-image
	{
		font-size:0.41em;
	}

	#block-block-1,
	#block-menu-menu-social-menu 
	{
		h2 
		{
			display:none;
		}
	}

	#footer #block-block-3
	{
		 input, button
		 {
			display:block;
			width:100%;
			margin-left:0;
			margin-bottom:5px;
			box-sizing:border-box;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
		}
	}
		
	#partners
	{
		padding-bottom:120px;

		h2 
		{
			font-size:24px;
		}

		img 
		{
			width:auto;
			height:45px;
			margin:0 2px;
		}
	}

	.view-large-highlight,
	.view-small-highlight,
	#footer #block-block-3,
	#block-views-upcoming-races-block,
	.view-race-listings,
	.view-race-details,
	.view-footage,
	.view-footage-video-node,
	.view-volunteer,
	.view-news
	{
		h2 
		{
			font-size:24px;
		}
	}

	#block-views-upcoming-races-block ul li
	{
		width:100%;
		margin-left:0;
		margin-right:0;
	}

	.view-race-listings 
	{
		h2 
		{
			text-align:center;
			padding-left:0;
		}

		.views-field-field-image
		{
			text-align:center;

			img 
			{
				float:none;
			}
		}

		.views-field-field-time,
		.views-field-field-location
		{
			text-align:center;
		}

		.views-field-path,
		.views-field-field-link-to-register,
		.views-field-nothing
		{
			text-align:center;
			display:block;
			float:none;

			a 
			{
				width:100%;
				margin-right:0;
				padding-left:0;
				padding-right:0;
			}
		}
	}

	.view-race-details
	{
		.views-field-field-image
		{
			display:none;
		}

		.views-field-title
		{
			float:none;

			h2 
			{
				line-height:normal;
				font-size:60px;
			}
		}
	}

	.view-volunteer .views-row 
	{
		background:none;
		padding:30px 0;

		.views-field-field-time,
		.views-field-field-location
		{
			float:none;
		}

		.views-field-field-link-to-volunteer
		{
			float:none;

			a.button 
			{
				display:block;
			}
		}
	}
}
