@import "variables";
@import "typography";

*
{
	margin:0;
	padding:0;
}

body 
{
	background:url(../images/brown-texture.png) repeat;
	color:white;
}

a,
a:visited
{
	color:$lime;
}

a.button 
{
	display:inline-block;
	color:white;
	line-height:55px;
	padding:0 20px;
	min-width:150px;
	text-align:center;
	text-decoration:none;
	background:#8dc63f;
	border-radius:3px;
	font-size:14px;
	box-shadow:5px 5px 2px rgba(0,0,0,0.4);
}

#header > div,
#before_content,
#highlights > div > div,
#content,
#partners,
#footer,
#footer2
{
	& > div 
	{
		max-width:980px;
		width:100%;
		margin:0 auto;

		& > div 
		{
			padding:0 10px;
			position:relative;
		}
	}
}

#block-system-main 
{
	p 
	{
		margin-bottom:0.8em;
	}
}

#header
{
	height:340px;
	background:#e8e8e8 url(../images/brown-texture.png) left bottom repeat-x;
	position:relative;

	& > div 
	{
		background:url(../images/header-bg.png) center bottom no-repeat;
		height:100%;

		& > div
		{
			height:100%;

			& > div 
			{
				height:100%;

				& > div 
				{
					position:relative;
					height:100%;
				}
			}
		}
	}
}

#logo 
{
	display:block;
	width:352px;
	height:190px;
	margin:0 auto;
	padding-top:10px;
}

#block-block-1 h2,
#block-menu-menu-social-menu h2 
{
	color:$lime;
	font-size:18px;
	font-weight:normal;
}
#block-block-1
{
	position:absolute;
	left:0;
	top:70px;
	text-align:center;

	.content a 
	{
		display:block;
		width:200px;
		line-height:55px;
		color:white;
		text-decoration:none;
		background:url(../images/register-btn.png) no-repeat;
		margin-top:6px;
	}
}
#block-menu-menu-social-menu
{
	position:absolute;
	top:70px;
	right:0;
	text-align:center;
}
#block-menu-menu-social-menu,
#block-menu-block-2
{
	.content ul 
	{
		list-style:none;
		margin:6px 0 0 0;

		li 
		{
			display:inline-block;
			margin:0 6px;
			padding:0;

			a 
			{
				display:block;
				text-indent:-99999px;
				width:55px;
				height:56px;
				background-repeat:no-repeat;
				background-size:contain;

				&.facebook 
				{
					background-image:url(../images/facebook.png);
				}
				&.twitter 
				{
					background-image:url(../images/twitter.png);
				}
				&.youtube 
				{
					background-image:url(../images/youtube.png);
				}
			}

			&.last 
			{
				margin-right:0;
			}
		}
	}
}
#block-menu-block-2
{
	float:right;

	.content ul li 
	{
		margin:0 0 0 8px;
		a 
		{
			width:57px;
			height:57px;

			&.facebook 
			{
				background-image:url(../images/facebook-white.png);
			}
			&.twitter 
			{
				background-image:url(../images/twitter-white.png);
			}
			&.youtube 
			{
				background-image:url(../images/youtube-white.png);
			}
		}
	}
}
#block-block-2 
{
	text-align:center;
	font-size:0.9em;
	margin-top:5px;
	color:black;

	img 
	{
		vertical-align:middle;
		margin-left:10px;
	}
}

#block-system-main-menu 
{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;

	.content > ul 
	{
		list-style:none;
		margin:0;
		font-size:0;
		text-align:center;

		& > li 
		{
			display:inline-block;
			padding:0;
			margin:0;
			position:relative;

			& > a,
			& > span 
			{
				font-size:16px;
				color:$brown;
				text-decoration:none;
				line-height:64px;
				padding:0 26px;
				display:block;

				&:hover
				{
					color:$lime;
				}
			}
			& > span 
			{
				cursor:default;
			}

			&:hover
			{
				&.expanded:after 
				{
					content:"";
					display:block;
					position:absolute;
					bottom:10px;
					left:50%;
					margin-left:-13px;
					width:26px;
					height:7px;
					background:url(../images/menu-arrow.png);
				}

				& > ul
				{
					display:block;
				}
			}
			& > ul 
			{
				display:none;
				position:absolute;
				z-index:1000;
				top:100%;
				left:0;
				list-style:none;
				margin:0;
				background:url(../images/menu-bg.png) left top repeat-y;
				border-radius:4px;
				width:160px;
				margin-top:-10px;

				& > li 
				{
					margin:0;
					padding:0;
					display:block;

					&.first a 
					{
						border-top:0;
						border-top-left-radius:4px;
						border-top-right-radius:4px;
					}
					
					&.last a 
					{
						border-bottom:0;
						border-bottom-left-radius:4px;
						border-bottom-right-radius:4px;
					}

					& > a 
					{
						color:white;
						text-decoration:none;
						font-size:16px;
						display:block;
						line-height:45px;
						padding:0 16px;
						text-shadow:1px 1px 1px rgba(0,0,0,0.5);
						font-size:14px;
						border-top:1px solid rgba(208,242,161,0.3);
						border-bottom:1px solid rgba(0,0,0,0.25);

						&:hover
						{
							background:#548116;
							background:rgba(0,45,0,0.4);
						}
					}
				}
			}

		}
	}
}

#block-block-7
{
	position:static;
}
#mobile-menu-btn 
{
	display:none;
	font-size:16px;
	color:$brown;
	text-decoration:none;
	line-height:64px;
	width:100%;
	text-align:center;
	text-transform:uppercase;
	position:absolute;
	bottom:0;
}

#main-wrapper 
{
	background:url(../images/dirt-top.png) no-repeat center top;

	& > div 
	{
		background:url(../images/dirt-bottom.png) no-repeat center bottom;
	}
}

#content
{
	border-bottom:2px solid rgba(0,0,0,0.3);
	overflow:hidden;
	padding:30px 0;
}

#partners 
{
	padding:60px 0 150px 0;
	background:url(../images/footer-bg.png) repeat-x center bottom;
	border-top:1px solid rgba(145,110,87,0.3);
	clear:left;

	h2 
	{
		color:#5f6062;
		padding-right:40px;
		line-height:75px;
		border-right:1px solid #5f6062;
		display:inline-block;
		margin-right:20px;
		font-size:30px;
		vertical-align:middle;
		text-transform:uppercase;
		font-weight:bold;
	}

	img 
	{
		display:inline-block;
		vertical-align:middle;
		margin:0 20px;
	}

	.views-row,
	.content
	{
		display:inline-block;
	}
}

#footer 
{
	background:$lime;
	overflow:hidden;
	padding-top:10px;

	.logo 
	{
		float:left;
		margin-right:80px;
		position:relative;
		z-index:1;
	}

	#block-block-3 
	{
		padding-top:10px;
		padding-left:481px;

		h2 
		{
			font-size:35px;
			text-shadow:2px 2px 2px rgba(0,0,0,0.5);
			margin-bottom:6px;
		}

		form 
		{
			margin:0.8em 0;
		}

		input
		{
			background:#74a62f;
			border:0;
			color:white;
			line-height:55px;
			padding:0 20px;
			font-size:14px;
			border-radius:4px;
			width:270px;
			text-transform:uppercase;
			display:inline-block;
			vertical-align:middle;
			margin-right:10px;

			&::-webkit-input-placeholder { /* WebKit browsers */
			    color:white;
			}
			&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			    color:white;
			}
			&::-moz-placeholder { /* Mozilla Firefox 19+ */
			    color:white;
			}
			&:-ms-input-placeholder { /* Internet Explorer 10+ */
			    color:white;
			}
		}

		button 
		{
			color:$lime;
			background-color:#5f6062;
			line-height:55px;
			padding:0 40px;
			border:0;
			display:inline-block;
			vertical-align:middle;
			border-radius:4px;
			font-size:14px;
		}

		a 
		{
			color:white;
			text-decoration:none;

			&:hover 
			{
				text-decoration:underline;
			}
		}
	}

	& > div > div 
	{
		overflow:hidden;
		padding-bottom:36px;
		border-bottom:1px solid rgba(0,0,0,0.25);
	}
}
#footer2 
{
	background:$lime;
	padding-bottom:60px;
	overflow:hidden;

	& > div > div 
	{
		overflow:hidden;
		padding-top:36px;
		border-top:1px solid rgba(208,242,161,0.3);
	}

	a 
	{
		color:white;
	}

	#block-menu-block-1
	{
		margin-bottom:26px;

		ul 
		{
			list-style:none;
			margin:0;

			li 
			{
				display:inline-block;
				margin:0 16px 0 0;
				padding:0;

				a,
				span
				{
					text-decoration:none;
					font-size:12px;
				}
			}
		}
	}

	#copyright 
	{
		font-size:12px;
		text-transform:uppercase;

		a 
		{
			text-decoration:none;

			&:hover
			{
				text-decoration:underline;
			}
		}
	}
}

#page-title
{
	line-height:161px;
	background:url(../images/inner-page-header.jpg) repeat-x center center;
	text-align:center;
	font-size:50px;
	text-shadow:5px 5px 5px rgba(0,0,0,0.5);
	box-shadow:0px 0px 10px 3px black inset;
}
body.front
{
	#page-title
	{
		display:none;
	}

	#main-wrapper
	{
		background-position-y:-140px;
	}
}

#block-views-upcoming-races-block
{
	text-align:center;
	padding:40px 0 30px 0;

	h2 
	{
		color:$lime;
		font-weight:normal;
		font-size:40px;
		margin-bottom:10px;
	}

	ul 
	{
		list-style:none;

		li 
		{
			display:inline-block;
			width:300px;
			height:55px;
			background:#8dc63f;
			color:white;
			margin:6px;
			position:relative;
			text-align:left;
			text-shadow:1px 1px 1px rgba(0,0,0,0.5);
			font-size:16px;
			border-radius:4px;

			& > div 
			{
				position:relative;
				z-index:1;
			}

			.views-field-title
			{
				margin-left:10px;
				margin-top:6px;
			}

			.views-field-field-subtitle 
			{
				margin-left:10px;
			}

			.views-field-field-link 
			{
				position:static;

				a 
				{
					display:block;
					position:absolute;
					z-index:2;
					top:0;
					left:0;
					width:100%;
					height:100%;
				}
			}

			.views-field-field-percent-full
			{
				position:absolute;
				right:10px;
				top:4px;
				font-size:28px;
				text-align:center;

				.full 
				{
					font-size:10px;
					margin-top:-5px;
				}
			}

			.percent-bar 
			{
				position:absolute;
				top:0;
				left:0;
				height:100%;
				background:#548116;
				z-index:0;
				border-radius:4px;
			}
		}
	}
}

.view-race-listings 
{
	.views-row 
	{
		clear:both;
		padding:40px 0;
		overflow:hidden;
		border-top:1px solid rgba(145,110,87,0.3);
		border-bottom:2px solid rgba(0,0,0,0.3);

		&.views-row-first 
		{
			border-top:0;
			padding-top:0;
		}
		&.views-row-last 
		{
			border-bottom:0;
			padding-bottom:0;
		}
	}

	h2 
	{
		font-size:40px;
		text-shadow:5px 5px 2px rgba(0,0,0,0.4);
		margin-bottom:16px;
		padding-left:320px;

		a 
		{
			text-decoration:none;
		}
	}

	.views-field-field-image img 
	{
		float:left;
		border-radius:2px;
		box-shadow:5px 5px 2px rgba(0,0,0,0.4);
		margin-right:20px;
		margin-bottom:20px;
	}

	.views-field-field-time,
	.views-field-field-location
	{
		color:$lime;
		font-weight:bold;
	}

	.views-field-field-short-description
	{
		margin:0.5em 0 0.8em 0;
	}

	.views-field-path,
	.views-field-field-link-to-register,
	.views-field-nothing
	{
		float:left;

		a 
		{
			margin-right:16px;
			margin-bottom:10px;
		}
	}

	.views-field-field-local-sponsors 
	{
		clear:left;
		padding-top:30px;

		.views-label
		{
			color:#5f6062;
			text-transform:uppercase;
			line-height:55px;
			font-weight:bold;
			font-size:24px;
			float:left;
			padding-right:50px;
			margin-right:50px;
			border-right:1px solid #5f6062;
		}

		.field-content 
		{
			padding-left:264px;
		}

		img 
		{
			display:inline-block;
			margin-right:20px;
		}
	}
}

.view-race-details 
{
	h2 
	{
		color:$lime;
		font-size:40px;
		margin-bottom:10px;
		text-shadow:5px 5px 2px rgba(0,0,0,0.4);
		line-height:200px;
		text-align:center;
		display:inline;
	}

	h3 
	{
		color:$lime;
		margin-bottom:0.5em;
		font-size:16px;
	}

	.views-field 
	{
		width:50%;
		display:inline-block;
		vertical-align:top;
		background:no-repeat left top;
		padding-bottom:30px;
		margin-right:-4px;
		min-height:120px;

		h3,
		.field-content 
		{
			padding-left:160px;
			padding-right:16px;
		}
	}

	.views-field-title 
	{
		width:auto;
		margin-right:0;
		min-height:0;
		text-align:center;
		float:left;

		.field-content 
		{
			padding-left:0;
			padding-right:0;
		}
	}

	.views-field-field-image
	{
		display:block;
		width:auto;
		margin-right:0;
		min-height:0;
		padding-bottom:0;
		float:left;

		.field-content 
		{
			padding-left:0;
			padding-right:0;
		}

		img 
		{
			border-radius:2px;
			box-shadow:5px 5px 2px rgba(0,0,0,0.4);
			margin-right:20px;
			margin-bottom:20px;
		}
	}

	.views-field-field-location-description
	{
		background-image:url(../images/icon-location.png);
	}
	.views-field-field-lodging
	{
		background-image:url(../images/icon-lodging.png);
	}
	.views-field-field-course-details
	{
		background-image:url(../images/icon-course-details.png);
	}
	.views-field-field-parking
	{
		background-image:url(../images/icon-parking.png);
	}
	.views-field-field-schedule
	{
		background-image:url(../images/icon-schedule.png);
	}
	.views-field-field-spectators
	{
		background-image:url(../images/icon-spectators.png);
	}
	.views-field-field-local-sponsors-description
	{
		background-image:url(../images/icon-local-sponsors.png);
	}
	.views-field-field-groups-of-10-or-more
	{
		background-image:url(../images/icon-groups.png);
	}
	.views-field-field-bag-check
	{
		background-image:url(../images/icon-bag-check.png);
	}
	.views-field-field-volunteer
	{
		background-image:url(../images/icon-volunteer.png);
	}
}

.view-volunteer 
{
	h2 
	{
		color:$lime;
		font-size:48px;
		text-align:left;
		text-shadow:5px 5px 2px rgba(0,0,0,0.4);
		margin-bottom:-5px;
	}

	.views-row 
	{
		overflow:hidden;
		padding:60px 0 60px 100px;
		background:url(../images/icon-volunteer-small.png) no-repeat left 70px;
		border-top:1px solid rgba(145,110,87,0.3);
		border-bottom:2px solid rgba(0,0,0,0.3);

		&.views-row-first 
		{
			border-top:0;
		}
		&.views-row-last 
		{
			border-bottom:0;
		}
	}

	.views-field-field-time,
	.views-field-field-location
	{
		color:white;
		font-weight:bold;
	}

	.views-field-field-volunteer
	{
		margin-top:0.5em;
	}

	.views-field-title,
	.views-field-field-time,
	.views-field-field-location
	{
		float:left;
		clear:left;
	}

	.views-field-field-link-to-volunteer 
	{
		text-align:right;
		
		.button 
		{
			margin-left:20px;
			margin-top:20px;
		}
	}
}

.view-footage,
.view-footage-video-node
{
	.views-row 
	{
		display:inline-block;
		width:50%;
		margin-bottom:40px;
		vertical-align:top;
		margin-right:-4px;

		&.views-row-last 
		{
			margin-bottom:0;
		}

		& > div 
		{
			padding-right:20px;
		}
	}

	.views-field-title
	{
		color:$lime;
		font-size:24px;
		text-align:center;
		text-shadow:5px 5px 2px rgba(0,0,0,0.4);
		margin-bottom:16px;

		a 
		{
			text-decoration:none;
		}
	}

	.views-field-field-youtube-id
	{
		position:relative;

		img 
		{
			width:100%;
			height:auto;
			border-radius:3px;
			box-shadow:5px 5px 2px rgba(0,0,0,0.4);
		}

		a.play 
		{
			display:block;
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			z-index:1;
			background:url(../images/video-play.png) no-repeat center center;
		}
	}

	.views-field-field-subtitle
	{
		color:$lime;
		font-weight:bold;
		margin:0.5em 0;
	}
}

.view-footage-video-node
{
	.views-row 
	{
		width:auto;
		display:block;
		margin-right:0;

		& > div 
		{
			padding-right:0;
		}
	}

	.views-field-php
	{
		& > div 
		{
			position:relative;
			padding-bottom:56.25%;
			height:0;
			overflow:hidden;
		}

		iframe 
		{
			display:block;
			margin:0 auto;
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			left:0;
		}
	}

	.views-field-field-subtitle,
	.views-field-body
	{
		text-align:center;
	}

	.views-field-nothing
	{
		text-align:center;
		margin-top:30px;
	}
}

iframe#twitter-widget-0
{
	padding-left:4px;
	width:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

#widgets
{
	.block
	{
		float:left;
		width:33.3333%;

		& > div 
		{
			padding-right:20px;
		}

		h2 
		{
			color:$lime;
			font-size:14px;
			margin-bottom:12px;
		}

		.content 
		{
			border:1px solid #432a19;
			background:#1a0e06;
			border-radius:4px;
			min-height:312px;
		}

		a.button 
		{
			display:block;
			margin:20px;
			min-width:0;
		}
	}

	#block-block-5
	{
		img,
		iframe
		{
			border-top-left-radius:4px;
			border-top-right-radius:4px;
			width:100%!important;
			height:auto!important;
		}
	}

	#block-block-6
	{
		p 
		{
			padding:0.5em 20px 0 20px;
		}

		h3 
		{
			padding:0 20px;
			line-height:36px;
			border-bottom:1px solid #432a19;
			font-size:16px;
			font-weight:bold;
			color:$lime;
		}

		a.button
		{
			margin-left:0;
			margin-right:0;
		}
	}
}

#home-header-image
{
	height:402px;
	width:100%;
	text-align:center;
	color:white;
	background:url(../images/home-header-bg.jpg) no-repeat center top;
	display:table;
	text-shadow:4px 4px 4px rgba(0,0,0,0.6);
	line-height:150%;

	& > div 
	{
		display:table-cell;
		vertical-align:middle;
	}

	h2 
	{
		font-size:2.8125em;
	}

	.xl 
	{
		font-size:2.23em;
		display:block;
		line-height:150%;
	}
}

#highlights
{
	background:url(../images/highlights-border-top.png) repeat-x top center;
	padding-top:3px;

	& > div 
	{
		background:url(../images/highlights-border-bottom.png) repeat-x center bottom;
		padding-bottom:3px;

		& > div 
		{
			background:#110a04 url(../images/highlights-bg.jpg) repeat-x center top;
			padding:40px 0;
		}
	}
}

.view-large-highlight,
.view-small-highlight
{
	padding-bottom:15px;
	overflow:hidden;

	h2 
	{
		color:$lime;
		text-align:center;
		font-size:40px;
		margin-bottom:15px;
		text-shadow:5px 5px 2px rgba(0,0,0,0.4);

		a 
		{
			text-decoration:none;
		}
	}

	h3
	{
		font-size:16px;
		color:$lime;
		margin-bottom:0.5em;
	}

	img 
	{
		float:left;
		margin-right:20px;
		margin-bottom:20px;
		border-radius:3px;
		box-shadow:5px 5px 2px rgba(0,0,0,0.4);
	}

	p 
	{
		margin-bottom:0.5em;
	}

	.button 
	{
		padding:0 45px;
	}
}
.view-small-highlight
{
	padding-bottom:0;

	.views-row 
	{
		width:48.5%;
		float:left;
	}
	.views-row-first
	{
		margin-right:3%;
	}

	h2 
	{
		font-size:35px;
		margin-bottom:10px;
	}

	h3 
	{
		margin-bottom:0;
	}

	.views-field-path
	{
		clear:left;
		text-align:center;
	}
}

.view-press-room 
{
	text-align:center;
	margin-right:-4px;

	.views-row
	{
		display:inline-block;
		background:#0f0701;
		padding:10px;
		border-radius:2px;
		font-weight:bold;
		text-align:center;
		min-height:261px;
		width:202px;
		vertical-align:top;
		margin-right:16px;
		margin-bottom:24px;
		box-shadow:5px 5px 2px rgba(0,0,0,0.4);

		&:hover
		{
			background:#6d8f2e;
		}

		img 
		{
			border:1px solid rgba(255,255,255,0.3);
			border-radius:2px;
		}
	}
}

.view-news 
{
	.views-row 
	{
		margin-bottom:30px;
	}

	h2 
	{
		color:$lime;
		font-size:40px;
		text-align:center;
	}

	.views-field-field-date
	{
		color:$lime;
		font-weight:bold;
	}
}

@import "responsive";
